name: Flutter Single App CI

on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Show Versions
        run: |
          flutter --version
          dart --version

      - name: Install Dependencies
        run: |
          dart pub get
          dart run melos bootstrap

      - name: Run CI Checks
        run: dart run melos run ci
